/* Общие классы */
.panel {
    top: 40%;
    left: calc(50% - 150px);
    width: 300px;
    height: 100px;

    padding: 10px;
    color: #c2c2c2;

    text-align: center;

    position: absolute;
    display: none;

    border-radius: 15px;
    background: #10101391;
}

.button {
    border-radius: 15px;
    background: #101013dc;
    border: none;
    color: #c2c2c2;
    padding: 15px 30px;

    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -2px 0 #ac0513 inset;
    transition:all 0.3s;
}
.button:hover{
    box-shadow:0px -5px 0 #ac0513 inset;
    cursor: pointer;
}
/* ------------------------*/

body{
    margin: 0px;
    font-family: sans-serif;
}
#page {
    background: #353336;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#game {
    padding: 10px 20px 10px 20px;
    background-color: #161618;
    box-shadow: 0px -1px 0 #ac0513 inset, 0px 0px 40px 10px #161618;
    border-radius: 9px;
}

.game-header {
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    display: flex;
    justify-content: space-between;
    color: #ffffff;
    height: 50;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fpsCounter {
    color: #e3ed04;
    font-size:8pt;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
}

#scoreCounter {
    font-size: 40px;
    left: 50%;
    position: absolute;
}   

#pause-button {
    width: 55;
    height: 35;
    font-size: 16;
    padding: 0;
}

#myCanvas {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Ccircle cx='8' cy='8' r='1' fill='%23444444'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Ccircle cx='8' cy='8' r='3' fill='%23444444'/%3E%3C/svg%3E");
}

.footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: #747474;
    font-size: 12px;
}