/* Общие классы */
.panel {
    top: calc(50% - 3vh);
    left: calc(50% - 25vw);
    width: 50vw;
    height: 17vh;
    border-radius: 3rem;

    padding: 2rem;
    color: #c2c2c2;
    font-size: 3rem;

    text-align: center;

    position: absolute;
    display: none;

    background: #050505af;
}

.button {
    border-radius: 2rem;
    background: #101013dc;
    border: none;
    color: #c2c2c2;
    padding: 2rem 4rem;
    font-size: 3rem;

    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -8px 0 #ac0513 inset;
    transition:all 0.3s;
}
.button:hover{
    box-shadow:0px -12px 0 #ac0513 inset;
    cursor: pointer;
}
/* ------------------------*/

body{
    margin: 0px;
    font-family: sans-serif;
    overflow:hidden;
}

#page {
    background-color: #161618;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    padding: 10px 20px 10px 20px;
}

.game-header {
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    display: flex;
    justify-content: space-between;
    color: #ffffff;
    height: 90;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fpsCounter {
    color: #e3ed04;
    font-size: 1rem;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
}

#scoreCounter {
    font-size: 6rem;
    left: 50%;
    position: absolute;
}

#recordCounter {
    font-size: 2.5rem;
}

#pause-button {
    width: 120;
    height: 100;
    font-size: 3rem;
    padding: 0px;
}

#myCanvas {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Ccircle cx='28' cy='28' r='8' fill='%23444444'/%3E%3C/svg%3E");
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #747474;
    font-size: 2rem;
}