body{
    margin: 0px;
    font-family: sans-serif;
    overflow:hidden;
}
#page {
    background: #353336;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    padding: 700px 20px 10px 20px;
    background-color: #161618;
    width: 100vw;
    height: 100vh;
}

.game-header {
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    display: flex;
    justify-content: space-between;
    color: #ffffff;
    height: 90;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fpsCounter {
    color: #e3ed04;
    font-size: 1rem;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
}

#scoreCounter {
    font-size: 6rem;
    left: 50%;
    position: absolute;
}

#recordCounter {
    font-size: 2.5rem;
}

#pause {
    width: 120;
    height: 100;
    font-size: 60;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #101013;
    color: #c2c2c2;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -5px 0 #ac0513 inset;
    transition:all 0.3s;
}

#pause:hover {
    box-shadow:0px -8px 0 #ac0513 inset;
    cursor: pointer;
}

.canvas-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Ccircle cx='28' cy='28' r='8' fill='%23444444'/%3E%3C/svg%3E");
}

#continue {
    font-size: 40px;

    top: 40%;
    left: calc(50% - 210);
    width: 480px;
    height: 160px;
    position: absolute;
    display: none;

    border-radius: 40px;
    background: #101013dc;
    border: none;
    color: #c2c2c2;

    box-shadow:0px -10px 0 #ac0513 inset;
    transition:all 0.3s;
}
#continue:hover{
    box-shadow:0px -5px 0 #ac0513 inset;
  }
#game-over{
    top: 30%;
    left: calc(50% - 300px);
    width: 600px;
    height: 300px;

    position: absolute;
    display: none;

    font-size: 3rem;

    border-radius: 15px;
    background: #101013dc;
}

#you-lose{
    color: #c2c2c2;
    text-align: center;
}

#restart{
    width: 400px;
    height: 120px;
    margin-left: calc(50% - 200px);
    border-radius: 8px;
    background: #070708dc;
    border: none;
    color: #c2c2c2;
    font-size: 3rem;
    box-shadow:0px -5px 0 #ac0513 inset;
    transition:all 0.3s;
}

#restart:hover{
    box-shadow:0px -4px 0 #ac0513 inset;
}


.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #747474;
}

#version {
    font-size: 2rem;
}

#size-map {
    font-size: 2rem;
}